* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
}

body {
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.u-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.skill {
    margin: 1em 0;
    position: relative;
    width: 22.5em;
}

.skill__type {
    color: #fff;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width: 5em;
}

.skill__outer-bar, .skill__inner-bar {
    height: .75em;
}

.skill__outer-bar {
    margin-top: 1em;
    background: rgb(246, 241, 241);
}

.skill__inner-bar {
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.skill__inner-bar--60 {
    width: 60%;
    background: #000000;
}
.skill__inner-bar--60 {
    width: 60%;
    background: #000000;
}
.skill__inner-bar--70 {
    width: 70%;
    background: #000000;
}
.skill__inner-bar--30 {
    width: 30%;
    background: #000000;
}
.skill__inner-bar--10 {
    width: 10%;
    background: #000000;
}

@keyframes fillBar {
    to {
        transform: scaleX(1);
    }
}